# Environment variables and virtual environments
.env/
config.env
dbconfig.env
debug.log

# Editor and Jupyter folders
.vscode/
.ipynb_checkpoints/
__pycache__/

# Data files (Prevents pushing large CSVs to GitHub)
data/